---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageFind from "@components/PageFind.astro";
import { GLOBAL } from "@consts";

type Props = {
  title?: string;
  description?: string;
  ogImage?: string;
};

const { title, description, ogImage } = Astro.props;

const finalTitle = title ? `${title} - ${GLOBAL.title}` : GLOBAL.title;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={finalTitle} {description} {ogImage} />
    <!-- Google tag (gtag.js) -->
    <script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-QMD5969HLB"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
    
      gtag('config', 'G-QMD5969HLB');
    </script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <PageFind />
  </body>
</html>
